{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "overrides": [
    {
      "files": [
        "tests/**/*.js"
      ],
      "env": {
        "jest": true
      }
    }
  ]  
}