lib/font/tables/.DS_Store
.DS_Store
/node_modules/
node-zlib/
src/
playground/
build/
js/
demo/bundle.js
*.html
!demo/browser.html
.vscode
coverage
package-lock.json # Shouldn't be here, so I will delete it!

# Yarn v2 files

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
