body {
  font-family: 'Merriweather';
  margin: 0;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
}

h1, h2, h3 {
  font-family: 'Alegreya';
  font-weight: 700;
}

h1 + h2 {
  margin-top: 0;
}

body > nav {
  display: block;
  position: fixed;
  width: 250px;
  height: 100%;
  background: #F4F4F4;
  font-size: 15px;
  padding-right: 10px;
}

nav > ul {
  padding-top: 25px;
  padding-left: 15px;
  list-style-type: none;
}

nav li > ul {
  padding-left: 20px;
  list-style-type: none;
}

hr {
  display: none;
}

body > nav a {
  text-decoration: none;
  color: #555;
  padding-left: 20px;
  text-indent: -20px;
  display: inline-block;
  padding-bottom: 7px;
}

body > nav > ul > li > a {
  font-weight: bold;
}

nav a.selected {
  color: #AA0000;
}

.main {
  position: absolute;
  left: 310px;
  top: 0;
  width: 800px;
  padding-bottom: 20px;
}

.main a[href] {
  color: #AA0000;
}

.main a[href]:active {
  text-shadow: rgba(170, 0, 0, 0.5) 0 0 20px;
}

code {
  font-size: 14px;
  font-family: 'Source Code Pro';
  font-weight: 700;
}

pre {
  white-space: pre-wrap;
}

pre code {
  font-weight: 400;
}

p {
  line-height: 1.5em;
}

.main nav {
  display: block;
  position: relative;
  height: 24px;
}

.main nav .next {
  position: absolute;
  right: 0;
  top: 0;
}

.main ul {
  padding-left: 25px;
}

.main ul li {
  padding: 3px 0;
}

#documentation, #documentation + p {
  display: none;
}

h1#pdfkit + h2 {
  margin-top: 0;
  font-size: 1.2em;
}